body {
    background-color: #3d3d3d;
    color: white;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #0083ff;
}

a:visited {
    color: #49a6ff;
}

a:hover {
    color: #7fff85;
    text-decoration: underline;
}

.flex-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.flex-item {
    margin: 10px;
}

.content {
    border-top: 2px solid white;
}

#quote {
    font-style: italic;
}

